#hero{
  text-align: center;
}

#hero h1{
  font-size: 48px;
  font-weight: normal;
}

#hero h2 {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

#hero p:first-of-type{
  margin-top: 20px;
}

#hero p {
  font-size: 18px;
}


#hero h2 span {
  color: #0563bb;
  letter-spacing: 1px;
}